/* 
    Created on : 6 nov. 2023, 20:33:53
    Author     : Aldo Gonzalez
*/

body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Arial, sans-serif;
}


.logo-container {
    position: fixed;
    top: 10px;
    left: 20px;
}

.logo {
    max-width: 20%; 
    height: auto;
}


.boton-login {
    text-align: center;
    margin-top: 37%;
}

.login-button {
    font-size: 24px;
    padding: 20px 40px;
    background-color: #b8ff68;
    color: black;
    border: none;
    border-radius: 45px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-button:hover {
    background-color: #9266cc;
    color: #ffffff;
    transform: translateY(-3px);
}

.Titulo{
    font-size: 60px;
    position: fixed; /* Cambiado a posición fija */
    top: 16%; /* Ajusta la posición vertical según tu preferencia */
    left: 50%;
    transform: translateX(-50%); /* Centra horizontalmente */
    text-align: center;
    color: #ffffff;
}

.left-decorationii{
    position: absolute; /* Posición absoluta para los rectángulos */
    top: 18%;
    height: 60%; /* Altura del 100% para ocupar toda la altura de la página */
    width: 0.2%; /* Ancho del rectángulo */
    background-color: #b8ff68; /* Color morado */
    left: 32%;
}

.right-decorationii{
    position: absolute; /* Posición absoluta para los rectángulos */
    top: 18%;
    height: 60%; /* Altura del 100% para ocupar toda la altura de la página */
    width: 0.2%; /* Ancho del rectángulo */
    background-color: #b8ff68; /* Color morado */
    right: 32%;
}

.form{
    position: fixed;
    top: 33%;
    margin-left: 50%;
    transform: translate(-50%);
}
.campo{
    font-size: 35px;
    border-radius: 30px;
    border: none;
}
.campo:focus {
    background-color: #000000;
    color: #ffffff;
}

.texto1 {
    position: fixed;
    color: #ffffff;
    display: flex; /* Cambiamos de 'grid' a 'flex' */
    justify-content: center; /* Centramos horizontalmente */
    align-items: center; /* Centramos verticalmente */
    top: 67%;
    height: auto;
    width: 30%;
    left: 50%;
    transform: translateX(-50%); /* Centramos en x */
    white-space: nowrap; /* Evitamos el salto de línea */
}

.vinculo{
    color: #ffffff;
}
