/* 
    Created on : 27 nov. 2023, 21:45:04
    Author     : Aldo Gonzalez
*/

body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Arial, sans-serif;
}

.imgver{
    position: fixed;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.imagen{
    max-width: 60%;
    height: auto;
}

.texto1{
    font-size: 35px;
    position: fixed; /* Cambiado a posición fija */
    top: 40%; /* Ajusta la posición vertical según tu preferencia */
    left: 50%;
    transform: translateX(-50%); /* Centra horizontalmente */
    text-align: center;
    color: #ffffff;
}
.codigo{
    font-size: 60px;
    position: fixed; /* Cambiado a posición fija */
    top: 76%; /* Ajusta la posición vertical según tu preferencia */
    left: 50%;
    transform: translateX(-50%); /* Centra horizontalmente */
    text-align: center;
    color: #ffffff;
}

.boton-start {
    position: fixed;
    top: 80%;
    left: 80%;
    text-align: center;
}

.start-button {
    font-size: 24px;
    padding: 20px 40px;
    background-color: #b8ff68;
    color: black;
    border: none;
    border-radius: 45px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.start-button:hover {
    background-color: #9266cc;
    color: #ffffff;
    transform: translateY(-3px);
}

