body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Arial, sans-serif;
    text-decoration: none;
}

.logo-container{
    position: fixed;
}

.logo {
    height: 20%;
    width: 20%;
    margin-left: 10%;
    margin-top: 10%;
}

.Titulo{
    font-size: 60px;
    position: fixed; /* Cambiado a posición fija */
    top: 5%; /* Ajusta la posición vertical según tu preferencia */
    left: 15%;
    transform: translateX(-50%); /* Centra horizontalmente */
    text-align: center;
    color: #ffffff;
}

.btnAddProd, .btnConsProd{
    border-radius: 20px;
    height: 30%;
    width: 16%;
    margin-top: 20%;
    position: absolute;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}

.agregar, .consultar{
    margin-top: 20%;
    background-color: #ffffff;
    height: 48%;
    width: 48%;
}

.btnAddProd {
    left: 20%;
}

.btnConsProd {
    left: 70%;
}

.decoration{
    position: absolute; /* Posición absoluta para los rectángulos */
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    height: 0.2%; /* Altura del 100% para ocupar toda la altura de la página */
    width: 95%; /* Ancho del rectángulo */
    background-color: #ffffff; 
}

